extends /singles_layout
include /helper

block title
  title Coaching und psychologische Beratung, Sexualberatung und Sexualpädagogik - Andreas Niehues
  if (config.get('canonical'))
    link(rel="canonical" href=COUPLES_HOST)

block content
  .area
    include:markdown-it landing-page/singles_intro.md

  +teaser-list(['couples', 'family', 'corporations'])

block after_shared_content
  .area
    include:markdown-it landing-page/pricing.md

block scripts
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-82114451-2', 'auto');
    ga('send', 'pageview');


block seo
  +meta_keywords('Einzelberatung', 'Einzeltherapie', 'Lebensberatung', 'Coaching', 'Pychotherapie', 'Psychologische Beratung', 'Therapie', 'Sexualtherapie', 'Sexualberatung', 'Systemisch', 'Systemisch-integrativ', 'systemische', 'Paar', 'Paare', 'Essen', 'Ruhrgebiet', 'Mülheim', 'Oberhausen', 'Duisburg', 'Gladbeck', 'Bocholt', 'Andreas', 'Andre', 'Andrea', 'Niehues', 'Niehus', 'Niehuis', 'Niehaus', 'Schwul', 'Homosexuell', 'Lesbisch', 'Affaire', 'Krise', 'Lebenskrise', 'Verlassen', 'Trennen', 'Trennung', 'Scheiden lassen', 'Scheidung', 'Tod', 'Chronisch krank', 'Krebs', 'Schwul', 'Lesbisch', 'Homosexuell', 'Lesbe', 'Geliebter', 'Geliebte', 'Prostitution', 'Prostituierte', 'Sexsucht', 'Sex', 'Geschlechtsverkehr', 'Lustlosigkeit', 'Erektion', 'Erektionsprobleme', 'Drexx', 'Pornokino', 'HIV', 'Aids', 'Tripper', 'Syphilis', 'Feigweizen', 'Sexuell übertragbare Krankheiten', 'Behindert', 'Behinderung', 'Kind', 'Kinder', 'Elternrolle', 'Geschwister', 'Bruder', 'Schwester', 'Depression', 'Burn-Out', 'Mobbing', 'Drogen', 'Alkohol', 'Familienaufstellungen', 'Familienaufstellung', 'Hellinger', 'Aufstellung ', 'Aufstellungen')
  +meta_description('Unzufrieden mit Ihren momentanen Beziehungen? Lösen Sie sich von längst überholten Beziehungsmustern und gestalten Sie Ihre zwischenmenschlichen Beziehungen neu')
